.site-footer
    background-color: rgba(18, 20, 30, 0.87)
.social-list
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    padding: 30px 0
    a
        display: inline-block
        margin-right: 20px
        color: #fff
        font-size: 26px
        &:last-of-type
            margin-right: 0

.site-copyright
    background-color: #1d1c2a
    padding: 20px 0
    color: #c8c8cc
    text-align: center
    line-height: 1.5


