.section-banner
    background: url('../public/img/background/section-banner.jpeg') center no-repeat
    background-size: cover
    height: 100%
    padding: 150px 0

.banner-content
    h1
        font-size: 40px
        line-height: 1.2
        font-weight: 800
        span
            font-size: 60px

    p
        margin-bottom: 70px
        font-size: 24px
        font-weight: 300

.search-form
    max-width: 650px
    margin: 0 auto
    border: 1px solid #ccc
    border-radius: 50px
    margin-bottom: 70px

.search-form__flex
    display: flex
    height: 60px


.search-form__filter
    width: 25%
    height: 60px


.search-form__input
    width: 75%
    height: 60px
    border-radius: 0 50px 50px 0
    overflow: hidden
    position: relative
    input
        width: 100%
        height: 100%
        border-right: none
        border-top: none
        border-bottom: none
        border-left: 1px solid #ededed
        padding: 0 20px
        font-family: 'Poppins', sans-serif
        color: rgba(0, 0, 0, 0.7)
        background: #fff
        box-shadow: none
        outline: none
        -webkit-appearance: none
        &:-webkit-autofill
            color: #fff !important
        &::placeholder
            font-family: 'Poppins', sans-serif
            color: rgba(0, 0, 0, 0.58)
.search-icon
    position: absolute
    top: 50%
    transform: $translateY
    width: 54px
    height: 60px
    z-index: 1000
    right: 0
    input[type='submit']
        outline: none
        box-shadow: none
        -webkit-appearance: none
        border: none
        background: transparent
        font-size: 0
        width: 100%
        height: 100%
        position: relative
        z-index: 1000
        display: inline-block
        &:-webkit-autofill
            color: #fff !important
    .icon
        position: absolute
        top: 50%
        transform: $translateY
        display: inline-block
        z-index: 800
        width: 50px
        padding: 0 15px
        right: 0
        height: 20px
        color: rgba(0, 0, 0, 0.7)

.select-filter
    border: none
    height: 100%
    line-height: 62px
    border-radius: 50px 0 0 50px
    font-size: 16px
    color: rgba(0, 0, 0, 0.7)
    outline: none
    background: #fff
    box-shadow: none
    -webkit-appearance: none
    &:-webkit-autofill
        color: #fff !important

.row
    .btn
        &:last-of-type
            margin-left: 20px
