.item-page
    .section-item__page--content
        padding: 130px 0

        @media screen and ( max-width: 640px )
            padding: 60px 0
            

    .item-page__section--title
        padding: 80px 0
        background: #f5f5f5
        text-align: center

        @media screen and ( max-width: 640px )
            padding: 40px 0

    .item-page__section--subtitle
        border: 1px solid $color2
        border-radius: 20px
        padding: 8px 30px
        color: $grey
        font-size: 16px
        display: inline-block

    .row-sides
        display: flex
        flex-direction: row
        align-items: flex-start
        width: 100%

    .l-side
        flex: 0 0 66.666667%
        max-width: 66.666667%
        margin-right: 30px
        .widget-price
            display: none

        @media screen and ( max-width: 1024px )
            flex: 0 0 100%
            max-width: 100%

            .widget-price
                display: block
                margin-bottom: 30px
                border-bottom: 1px solid rgba(38, 122, 164, 0.27)
                padding: 0 0 30px 0

    .r-side
        flex: 0 0 30.333333%
        max-width: 30.333333%
        border: 1px solid rgba(38, 122, 164, 0.27)
        overflow: hidden
        background-color: #fff
        box-shadow: 5px 5px 20px 0 rgba(117, 117, 117, 0.10)
        border-radius: 6px

        @media screen and ( max-width: 1024px )
            display: none
            

    .wrap-video
        width: 100%
        height: 420px
        border: 1px solid rgba(38, 122, 164, 0.27)
        overflow: hidden
        border-radius: 6px
        box-shadow: 5px 5px 20px 0 rgba(117, 117, 117, 0.10)
        margin-bottom: 50px
        position: relative

        @media screen and ( max-width: 640px )
            height: 220px

    .widget-price
        padding: 50px 30px
        text-align: center
        background-color: #fff
        box-shadow: 0 0 56px 14px rgba(186, 179, 226, 0.08)

    .item-price
        font-size: 32px
        color: $accent2
        font-weight: bold
        margin-bottom: 30px

    .btn-purchase
        line-height: 1.4
        margin-bottom: 22px

    .item-rating
        display: flex
        flex-direction: column
        align-items: center
        .rating
            max-width: 100px
        span
            display: block
            margin-bottom: 5px


    .start-video
        position: absolute
        top: 50%
        transform: translate(-50%, -50%)
        left: 50%
        opacity: .3
        cursor: pointer
        transition: all 0.3s

    div.thumbnail_container
        width: 100%
        height: 100%
        overflow: hidden
        background-color: #000

    img.thumbnail
        width: 100%
        height: auto
        opacity: 0.5

    .wrap-tab__content
        box-shadow: 5px 5px 20px 0 rgba(117, 117, 117, 0.10)
        background: #fff
        border-radius: 6px
        overflow: hidden
        padding: 30px 15px
        border: 1px solid rgba(38, 122, 164, 0.27)

    .tabs__content
        &.active
            padding: 0 15px
            @media screen and ( max-width: 640px )
                padding: 0

        .btn-purchase
            margin: 25px 0 0 0 

    .tabs__caption
        margin-bottom: 40px
        padding-left: 0

    ul
        padding-left: 20px
        margin-bottom: 16px
        li
            list-style: disc
            line-height: 30px
            a
                color: #666e82

    .reviews-product
        padding-top: 30px
        border-top: 1px solid #ccc
        margin: 40px 0 0 0

        .section-reviews__title
            font-size: 25px
            color: $accent2
            font-weight: 600
            margin-bottom: 30px

    .reviews-product__one
        display: flex
        flex-direction: column
        width: 100%
        .img-holder
            margin-right: 15px
            border-radius: 50%
            overflow: hidden
            width: 48px
            height: 48px
            img
                object-fit: cover
                width: 100%
                height: 100%
    .head-reviews__product--one
        display: flex
        flex-direction: row
        width: 100%
        position: relative
        margin-bottom: 20px
        .rating
            position: absolute
            right: 0
            top: 0

    .reviewer-name
        color: #333
        font-weight: 600
        font-size: 16px
        line-height: 1.5

    .review-created
        color: #333
        font-weight: 500
        font-size: 13px
        line-height: 1.5

    .review-text
        width: 91%
        margin-left: auto    

    .error-submit
        padding: 10px
        margin-bottom: 16px    

    .review-form
        label
            margin-bottom: 10px    
            display: block

    .login-username,
    .login-password,
    .user-remember
        margin-bottom: 20px       

    .user-remember
        label
            cursor: pointer    

    .login-submit
        .btn
            height: 44px
            line-height: 18px      
            box-shadow: none  

            