@import '../../node_modules/jquery-nice-select/scss/nice-select'
@import '../../node_modules/tooltipster/dist/css/tooltipster.bundle.min.css'
@import '../../node_modules/tooltipster/dist/css/tooltipster.main.min.css'
@import '../../node_modules/swiper/dist/css/swiper.min.css'


@import 'reset'
@import 'variables'
@import 'header'
@import 'main'
@import 'footer'
@import 'page-shop'
@import 'page-item'
@import 'modals'

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800,900|Poppins:300,400,500,600,700,900&display=swap')


body
    font-family: 'Poppins', sans-serif
    color: $grey


.container
    max-width: 1170px
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto
    width: 100%

.text-center
    text-align: center

h1, h2, h3, h4, h5, h6
    margin-bottom: 25px
    -ms-word-wrap: break-word
    word-wrap: break-word
    color: #2e3d62
    font-weight: bold


h1
    font-size: 50px
    font-weight: bold
    line-height: 70px

h2
    font-size: 40px
    font-weight: bold
    line-height: 70px
    text-align: center

h3
    font-size: 30px
    font-weight: 500
    margin-bottom: 25px

h4
    font-size: 24px
    font-weight: 500
    margin-bottom: 25px

p
    margin-top: 0
    margin-bottom: 16px
    line-height: 1.5


.heading-description
    font-size: 16px
    color: $grey
    line-height: 1.5
    font-weight: 400
    margin-bottom: 20px

.btn
    outline: none
    display: inline-flex
    width: auto
    align-items: center
    text-align: center
    justify-content: center
    background: transparent
    transition: $transition
    padding: 12px 40px
    color: $color2
    text-transform: capitalize
    border-radius: 50px
    line-height: 30px

    border: 2px solid transparent

    &:hover
        transition: $transition

.btn-fill
    background-color: $color2
    color: #fff
    font-size: 16px
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2)

.btn-border
    background-color: transparent
    border: 2px solid $color2
    font-size: 16px
    color: $color2

    &:hover
        background-color: $color2
        border: 2px solid transparent
        color: #fff
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2)

.btn-filters
    padding: 0 20px
    color: #666e82
    &.is-checked
        background-color: $color2
        color: #fff
    &._sort
        border: 1px solid $color2


section
    padding: 90px 0

.btn-submit
    box-shadow: none

    &:hover
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2)


.input-default
    height: 60px
    width: 100%
    border-radius: 50px
    border: 1px solid $color2
    padding: 15px 30px
    transition: $transition
    color: $grey
    &::placeholder
        transition: $transition
        font-family: 'Poppins', sans-serif
    &:focus
        &::placeholder
            transition: $transition
            color: rgba(153, 153, 153, 0.64)

.row-breadcrumb
    width: 100%
    text-align: center

.breadcrumb
    .breadcrumb-list
        display: inline-block
        margin-right: 25px
        position: relative
        &:before
            content: '»'
            position: absolute
            top: -2px
            right: -15px
            font-size: 18px
            font-style: italic
        &:last-of-type
            margin-right: 0
            &:before
                content: none
        .breadcrumb-link
            color: #2e3d62

.row-pagination
    width: 100%
    text-align: center
    display: flex
    justify-content: center

.pagination
    display: flex

.page-numbers
    height: 33px
    width: auto
    display: flex
    align-items: center
    border-radius: 20px
    margin: 0 5px
    padding: 0 15px
    border: 1px solid $color2
    background-color: #fff
    color: #000
    transition: $transition
    font-size: 18px
    box-shadow: 0 8px 15px 0 rgba(150, 150, 150, 0.31)
    &:hover
        background-color: $color2
        border-color: transparent
        color: #fff

    &._active
        background-color: $color2
        border-color: transparent
        color: #fff
        pointer-events: none
        cursor: not-allowed


.prev,
.next
    background-color: $color2
    color: #fff
    padding: 3px 25px

.rating
    position: relative
    &:before
        content: ''
        position: absolute
        width: var(--rating-view)
        height: 22px
        background: url('img/icons/rating-view__selected.svg') top left no-repeat
        -webkit-background-size: 100%
        background-size: 100px


.tabs__caption
    display: flex
    position: relative
    transition: $transition
    align-items: center
    justify-content: center
    li
        padding: 7px 15px 7px 15px
        position: relative
        white-space: nowrap
        text-align: center
        background: none
        border: 1px solid $color2
        font-weight: 400
        transition: $transition
        margin: 0 20px 0 0
        color: $grey
        list-style: none !important
        font-size: 16px
        border-radius: 40px
        user-select: none
        line-height: 25px!important
        &:last-child
            margin-right: 0
        &:not(.active)
            cursor: pointer
        &.active
            transition: $transition
            border: 1px solid transparent
            background: $color2
            color: #fff
            box-shadow: 0 10px 20px 0 rgba(59, 167, 202, 0.4)

.wrap-tab__content
    position: relative
    width: 100%
    display: block



.tabs__content
    display: none
    transition: $transition
    opacity: 0
    z-index: -1
    &.active
        display: block
        opacity: 1
        z-index: 1
        transition: $transition
        height: auto

