@import "~v-slim-dialog/dist/v-slim-dialog.css"
@import "~vue-multiselect/dist/vue-multiselect.min.css"

.space-b
    display: flex
    justify-content: space-between
    align-items: center

input.has-error
    border: 1px solid red

.product-list-image-block img
    width: 60px

.product-edit-images
    display: flex
    > *
        margin-right: 10px
    div span
        height: 150px
        display: inline-block
